@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap');

@font-face {
    font-family: 'cannabis';
    src: url(./font/PotLand.ttf) format('opentype');
    font-weight: normal;
}

* {
    padding: 0px;
    margin:0px;
}

:root {
    --cor0: #374d08;
    --cor1: #F3E4D3;
    --cor2: #69696917;
    --cor3: #acff2f7a;
    --reggae1: #326D32;
    --reggae2: #C29030;
    --reggae3: #AD3824;
    --gradient1: #7fb112;
    --gradient2: #7fb11298;
    --gradient3: #7fb1125d;
    --gradient4: #7fb11228;
    --gradient5: #7fb11200;

    --font-standard: Arial, Verdana, Helvetica, sans-serif;
    --fonte-menu_pr-br: "Playwrite DK Uloopet", cursive;
    --fonte-menu_in: 'cannabis', Times, sans-serif;
}

body {
    background-image: url('img/background.jpg');
    text-decoration: none;
}

a.externo::after{
    content: '\00A0\1F517';
    background-color: #000000ad;
    border-radius: 30%;
}

header {
    background-image: linear-gradient(to top, var(--reggae1), var(--reggae2), var(--reggae3));
    padding: 10px;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

main {
    background-color: var(--cor1);
    font-family: var(--font-standard);
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 280px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.562);
    margin-bottom: 30px;
}

section>h2 {
    padding: 2px;
    background-image: linear-gradient(to right, var(--gradient1), var(--gradient2), var(--gradient3), var(--gradient4), var(--gradient5));
    text-shadow: 0px 7px 2px rgba(0, 0, 0, 0.212);
    text-indent: 10px;
}

#more {
    background-color: var(--cor3);
    padding: 0px;
    border: 1px  black;
    border-radius: 20px;
    font-weight: 400;
    box-shadow: 9px 9px 20px rgba(0, 0, 0, 0.425);
}

p {
    text-align: justify;
    margin: 20px;
    text-indent: 30px;
    line-height: 1.5em;
}

h3 {
    margin: 10px;
}

footer p{
    background-color: black;
    color: white;
    margin: 0px 15%;
    text-align: center;
}

abbr {
    text-decoration: none;
}

img {
    display: block;
    margin: auto;
    border-radius: 3px;
    box-shadow: 9px 9px 20px black;
    width: 99%; 
    margin-bottom:20px;   
}

iframe {
    box-shadow: 9px 9px 20px black;
    border-radius: 20px;
}

#principal {
    color: white;
    font-family: var(--fonte-menu_pr-br);
    font-weight: bolder;
    font-size: 2.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.664);
}

.imgalt {
    max-width: 650px;
    display: block;
    margin: auto;
    padding: 5px 0px;
    margin-bottom:20px;
}

a:hover {
    color: black;
    text-decoration: underline;
    font-weight: bold;
}

nav>div {
    transition-duration: .8s;
    color: white;
    display: inline-block;
    text-align: left;
    padding: 3px 10px;
    margin: auto;
    font-weight: bolder;
    font-size: 1.2em;
}

nav>div:hover {
    background-color: #a88f3c;
    color: black;
    border-radius: 5px;
}

div>a {
    color: #ffffff;
    text-decoration: none;
}

header>h2 {
    font-size: 2em;
    font-family: var(--fonte-menu_in);
    color: rgb(153, 228, 40);
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.664);
}

aside>a {
    text-decoration: none;
    color: black;
}

.comentary {
    color: rgba(0, 0, 0, 0.452);
    font-weight: 500;
    text-align: right;
    background-color: var(--cor2);
    padding: 0px;
    border-radius: 10px;
    margin:0px 0px 20px 50%; 
}

#kunk {
    padding: 10px;
}

div>h3 {
    background-image: linear-gradient(to top, var(--reggae1), var(--reggae2), var(--reggae3));
    margin: -10px -10px 0px -10px;
    padding: 10px;
    margin: auto;
    text-indent: 10px;
    border-radius: 15px 15px 0px 0px;
}

p>a {
    color: black;
    text-decoration: none;
}

aside ol{
    list-style-position: inside;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
    columns: 2;
    text-decoration: underline;
}
